.search-bar {
    max-width: 400px;
}

.search-bar .input-group-text {
    background-color: #f8f9fa;
    border-right: none;
}

.search-bar .form-control {
    border-left: none;
}

.search-bar .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}